@page "/aboutme"

About me:
<br>
<br>
<div class="container">
    <div>
    Hey, nice to meet you! My name is Daniele Carli and I am a passionate software engineer!
    I have a dual nationality which are German <img src="/germanFlag.png" />
    and Italian.
    <img src="/italyFlag.png" />. 
    I was raised in Germany <img src="/germanFlag.png" /> 
    from 2002-2013 and then moved to the Dubai <img src="/uaeFlag.png" />
    from 2013-2017 and ever since 2017 I have been living and done my A Level and BCs Degree all in the UK <img src="/ukFlag.png" />.
    <br>
    </div>
    <div>
        <img class="selfie" src="/Selfie.jpg" />
    </div>
</div>
----------------------------
<br>
Hobbies/Interests:
<br>
<br>

My main interest, which I bet you could have never guessed, is programming!
<br>
I have worked on various programming projects through my academic and personal life which can be found on the "/Projects" section of my ePortfolio. I recommend to check them out!
I mostly work in C# which I believe to be the most versatile language allowing for 
web development with ASP.Net, game development with Unity and overall being a fantastic OOL for any kind of problem solving.
<br>
I am also knowledgable in many different languages and am always looking to improve myself in them too.
I continously want to sharpen my skills as a software developer, taking on any challenge and opportunity handed to me.
<br>
<br>

I am also deeply in love with both creating and playing video games. I have created and still am creating many of my own games, whether alone or within a team my passion never fades.
<br>
My favourite genre of games are J/RPG. I am the biggest fan of Final Fantasy and my favourite title of the FF world is FF7, I am and will always be inspired by Zack Fair.
<br>
Other than Final Fantasy I have also greatly enjoyed Phoenix Wright Ace Attorney which in my opinion is heavily underrated that I would definitely recommend if you want to try something new and enjoyable.
<br>
<br>

To make me even more Geeky I do loads of anime but nothing will ever beat the love I have for Dragon Ball Z!
<br>
I also do enjoy motor cycles.
<br>
I also enjoy gym and sports.

