@page "/cv"
@page "/resume"


<h3>PDF Viewer</h3>

<SfPdfViewer2 EnableAnnotation="false" EnableCommentPanel="false" DocumentPath="wwwroot/data/Daniele_Carli_CV.pdf"
              Height="100%"
              Width="80%"
              EnableErrorDialog="false">
</SfPdfViewer2>

